html, body {
   height: 100%;
}

body { 
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}      

footer {
   color: white;
   background-color: #2C3E50;
   height: 70px;
   text-align: center;
   width: auto;
   padding-top: 1.5rem;
}
